.textNav::after{
    position: absolute;
    content: "";
    width: 110%;
    height: 17%;
    background-color: #146EA6;
    bottom: -45%;
    left: -40%;
    opacity: 0;
    transition: ease 300ms;
}

.textNav:hover::after{
    transition: ease 300ms;
    opacity: 1;
    left: -5%;
}

#submitButton:hover{
    border: #146EA6 solid 2px;
    background-color: #fff;
    color: #146EA6;
    transform: scale(1.1);
    padding: 15px;
    font-size: 1rem;
    transition: ease 500ms;
}

.btnScroll:hover{
    border: #146EA6 solid 2px;
    background-color: #fff;
    color: #146EA6;
    transform: scale(1.1);
    padding: 15px;
    font-size: 1.5rem;
    transition: ease 500ms;
}

.registerNav:hover{
    border: #146EA6 solid 2px;
    background-color: #fff;
    transform: scale(1.1);
    font-size: 1rem;
    transition: ease 500ms;
}

.registerNav:hover a{
    color: #146EA6;
}

.logo:hover{
    transform: scale(1.05);
}

#register:hover{
    border: #146EA6 solid 2px;
    background-color: #fff;
    color: #146EA6;
    transform: scale(1.1);
    font-size: 1rem;
    transition: ease 500ms;
}

.addAva:hover{
    transform: scale(1.1);
}